{% extends "base.html" %}
{% block body %}
<div id="site_body">
    <div id="login_box">
        <form id="login" action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <label class="login_label" for="file">Profile Picture</label>
            <input class="file_input" type="file" name="file" required />
            <label class="login_label" for="fullname">Full name</label>
            <input type="text" name="fullname" required />
            <label class="login_label" for="username">Username</label>
            <input type="text" name="username" required />
            <label class="login_label" for="email">Email</label>
            <input type="text" name="email" required />
            <label class="login_label" for="password">Password</label>
            <input type="password" name="password" required />
            <input class="btn btn-sm btn-success" type="submit" name="signup" value="Sign Up" />
            <input type="hidden" name="operation" value="create" />
        </form>
        Have an account?<a href="/accounts/login/">Log in</a>
    </div>
</div>
{% endblock %}