{% extends "base.html" %} {% block body %}
<div id="site_body">
  <div id="feed">
    <h4>Following</h4>
    <div class="follower_list">
      {% for following in following %}
      <div class="follower_item">
        <a href="/users/{{ following['username'] }}/">
          <div class="follower_item_left">
            <img
              class="pfp"
              src="{{ following['user_img_url'] }}"
              alt="{{ following['user_img_url'] }}"
            />
            <b>{{ following['username'] }}</b>
          </div>
        </a>
        <div class="follower_item_right">
          {% if logname != following['username'] %} {% if
          following['logname_follows_username']%}
          <p class="following_status">following</p>
          <form
            class="unfollow_button"
            action="/following/?target=/"
            method="post"
            enctype="multipart/form-data"
          >
            <input
              class="btn btn-sm btn-secondary"
              type="submit"
              name="unfollow"
              value="unfollow"
            />
            <input
              type="hidden"
              name="username"
              value="{{following['username']}}"
            />
            <input type="hidden" name="operation" value="unfollow" />
          </form>
          {% else %} 
          <p class="following_status">not following</p>
          <form
            class="follow_button"
            action="/following/?target=/"
            method="post"
            enctype="multipart/form-data"
          >
            <input
              class="btn btn-sm btn-secondary"
              type="submit"
              name="follow"
              value="follow"
            />
            <input
              type="hidden"
              name="username"
              value="{{following['username']}}"
            />
            <input type="hidden" name="operation" value="follow" />
          </form>
          {% endif %} {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
