{% extends "base.html" %} {% block body %}
<div id="site_body">
  <div id="login_box">
    <form
      id="login"
      action="/accounts/?target=/"
      method="post"
      enctype="multipart/form-data"
    >
      <h3>Insta485</h3>
      <label class="login_label" for="username">Username</label>
      <input type="text" name="username" required />
      <label class="login_label" for="password">Password</label>
      <input type="password" name="password" required />
      <input class="btn btn-sm btn-success" type="submit" value="login" />
      <input type="hidden" name="operation" value="login" />
    </form>
    <div id="login_bottom_message">
      <b>Don't have an account?</b>
      <a href="/accounts/create/"
        ><button class="btn btn-sm btn-primary">Sign Up</button></a
      >
    </div>
  </div>
</div>
{% endblock %}
