{% extends "base.html" %}
{% block body %}
<div id="site_body">
  <div id="feed">
    <div id="user_info">
      <div id="user_head">
        <h2>{{ username }}</h2>
        {% if logname == username %}
          <a href="/accounts/edit/">
            <button class="btn btn-sm btn-primary">Edit Profile</button>
          </a>
          <form action="<FIXME_LOGOUT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
            <input class="btn btn-sm btn-secondary" type="submit" name="logout" value="Logout"/>
          </form>
        {% endif %}
      </div>
      {% if logname != username %}
      <b id="following_status">
        {% if logname_follows_username %}
        following      
        <form class="follow-button" action="<FIXME_FOLLOWING_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
          <input class="btn btn-sm btn-secondary" type="submit" name="unfollow" value="unfollow"/>
          <input type="hidden" name="username" value="<FIXME_USERNAME_HERE>"/>
          <input type="hidden" name="operation" value="unfollow"/>
        </form>
        {% else %}
        not following
        {% endif %}
      </b>
      {% endif %}
      <div id="user_stats">
        <p>
          {{ total_posts }}
          {% if total_posts == 1 %}
          post
          {% else %}
          posts
          {% endif %}
        </p>
        <a href="/users/{{ username }}/followers/">
          {{ followers }}
          {% if posts == 1 %}
          follower
          {% else %}
          followers
          {% endif %}
        </a>
        <a href="/users/{{ username }}/following/">{{ following }} following</a>
      </div>
      <div>{{ fullname }}</div>
      <div id="upload_photo">
        <form action="<FIXME_POSTS_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept="image/*" required/>
          <input type="submit" name="create_post" value="upload new post"/>
          <input type="hidden" name="operation" value="create"/>
        </form>
      </div>
    </div>

    <div id="user_posts">
      {% for row in posts|batch(3)%}
      <div class="row">
        {% for col in row %}
        <div class="col-md user_post">
          <a href="/posts/{{ col['postid'] }}/">
            <img class="photo" alt="{{ col['img_url'] }}" src="{{ col['filename'] }}" />
          </a>
        </div>
        {% endfor %}
        {% for space in range(3 - posts|length) %}
        <div class="col-md user_post">
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}